@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);/* Width */
/* Colors */
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Google font */
body {
  font-family: "PT Sans Narrow", sans-serif;
}

/* Fontawesome */
/* Common */
.hero {
  height: 20rem;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

header .headerTop {
  background-color: #0282f9;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.625rem;
  font-size: 0.9rem;
  color: #fff;
}
header .headerTop div:last-child {
  margin-left: 3.125rem;
}
header .headerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.625rem;
}
header .headerBottom img {
  width: 5rem;
}
header .headerBottom ul {
  display: flex;
  list-style: none;
}
header .headerBottom ul li {
  padding: 0 0.9375rem;
}
header .headerBottom ul a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 3.125rem 0;
}
header .headerBottom ul a.active {
  color: #0282f9;
  border-bottom: 0.4375rem solid #0282f9;
}
header .headerBottom input {
  margin: 3.125rem 0 3.5625rem 0;
}