/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

/* Fontawesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

/* Common */
.container {
    max-width: $widthContainer;
    margin: 0 auto;
}
.hero {
    height: 20rem;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
}