main {
    .hero {
        height: 20rem;
        background-image: url('../images/jumbotron.jpg');
        background-size: cover;
    }

    .containerSeries {
        background-color: #1c1c1c;

        .container {
            position: relative;
            padding: 1.875rem 0;

            & > div:first-child {
                position: absolute;
                top: -1.90625rem;
                display: inline-block;
                padding: .9375rem 1.875rem;
                background-color: $commonBlue;
                color: $white;
            }

            .seriesContainer {
                @include dFlex;
                flex-wrap: wrap;

                .series {
                    width: $widthSeries;
                    padding: 1.25rem .625rem;

                    img {
                        width: 100%;
                        height: 11.25rem;
                        object-fit: cover;
                        object-position: top;
                    }

                    p {
                        color: $white;
                        text-transform: uppercase;
                        margin-top: .625rem;
                    }
                }
            }

            & > div:last-child {
                text-align: center;
            }

            button {
                border: none;
                background-color: $commonBlue;
                color: $white;
                font-weight: bold;
                padding: .625rem 2.7rem;
                cursor: pointer;
            }
        }    
    }

    .containerBuy {
        background-color: $commonBlue;

        ul {
            @include dFlex;
            justify-content: space-around;
            @include list;
            padding: 4rem 0;

            li {
                @include dFlex;
                align-items: center;
                color: $white;

                img {
                    height: 4rem;
                    margin-right: .625rem;
                }

                &:last-child img {
                    height: 3rem;
                }
            }
        }
    }
}